fastapi
uvicorn

sqlalchemy
pymysql

python-jose
passlib[bcrypt]

python-dotenv
numpy==1.23.5
pandas==1.5.3
joblib

tensorflow==2.10.0
deepface==0.0.79
 scikit-learn==1.2.2

opencv-python-headless==4.7.0.72
python-multipart
