fastapi
uvicorn
sqlalchemy
pymysql
python-jose
passlib[bcrypt]
python-dotenv
argon2-cffi

numpy==1.23.5
pandas==2.3.3
scikit-learn==1.2.2

tensorflow==2.12.0
deepface==0.0.99

opencv-python==4.11.0.86

joblib
python-multipart
gunicorn
